<style>
  :root
  {
    {{ with .Site.Params.BackgroundColor }}
    --bg-color: {{ . }};
    {{ end }}
   
    {{ with .Site.Params.ForegroundColor  }}
    --fg-color: {{ . }};
    {{ end }}

    {{ with .Site.Params.TextColor }}
    --text-color: {{ . }};
    {{ end }}

    {{ with .Site.Params.HeadingColor }}
    --heading-color: {{ . }};
    {{ end }}

    {{ with .Site.Params.TaglineColor }}
    --tagline-color: {{ . }};
    {{ end }}
    
    {{ with .Site.Params.TopSepColor }}
    --top-sep-color: {{ . }};
    {{ end }}

    {{ with .Site.Params.DateColor }}
    --date-color: {{ . }};
    {{ end }}
    
    {{ with .Site.Params.BarNavColor }}
    --bar-nav-color: {{ . }};
    {{ end }}

  }

  </style>
